:root {
  --primary-color: #1e1e1e;
  --secondary-color: #2f2f2f;
  --tertiary-color: #3b3b3b;
  --secondary-disabled: #292929;
  --primary-accent-color: #2ea1d2;
  --seondary-accent-color: #48da4e;
  --accent-color-prohibited: #da4848;
  --text-color-primary: #e9e9e9;
}
@keyframes s3 {to{transform: rotate(1turn)}}
.main {
  background-color: var(--primary-color);
  color: var(--text-color-primary);
  font-size: 11pt;
}
.main-header {
  padding: 15px;
  display: flex;
  align-items: center;
}
.main-body {
  padding-top: 0;
  display: flex;
}
.main-body .main-content {
  display: inline-flex;
  padding: 15px;
  padding-top: 0;
  margin-left: 20px;
  padding-left: 0;
}
.main-content h1 {
  margin-top: 0;
}
.main-body aside, aside .visible {
  display: flex;
  padding: 15px;
  flex-direction: column;
  transition: all 0.2s ease;
  padding-top: 0;
  margin: 0;
}
.main-body aside .component-button { 
  margin-bottom: 10px;
}
.component-button {
  padding: 10px;
  -webkit-user-select: none;
  user-select: none;
  width: 30px;
  height: 30px;
  display: flex;
  color: var(--text-color-primary);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--primary-color);
  cursor: pointer;
}
.component-button:hover {
  background-color: var(--secondary-color);
  transition: all 0.2s ease;
}
.activated {
  background-color: var(--secondary-disabled);
}
.hidden {
  display: none !important;
  transition: all 0.2s ease;
}
header svg {
  margin-left: 15px;
}
.component-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.modal-close {
  background-color: var(--secondary-color);
  padding: 10px;
  user-select: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20%;
}

.modal-close:hover {
  background-color: var(--tertiary-color);
}

.modal-close:active {
  background-color: var(--secondary-disabled);
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed; /* Use fixed position to cover the entire viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000085;
  z-index: 999;
  top: 0;
  left: 0;
}
.gameplay-container {
  display: inline-flex;
}
.gameplay-area,
.control-pane {
  display: flex;
  flex-direction: column;
}
.control-pane {
  position: relative;
  display: inline-flex;
  margin-left: 20px;
  border-radius: 10px;
  overflow: hidden; /* Ensure child elements don't overflow */
  width: 75%; /* Set a fixed width for control-pane */
}

.thinking,
.move-log {
  width: 100%; /* Occupy the full width of control-pane */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.thinking {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.thinking b {
  margin-left: 10px;
}

.move-log {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-disabled);
  padding: 10px;
  height: 50%;
  overflow-y: auto; /* Allow vertical overflow with a scrollbar */
  max-height: 150px; /* Set a maximum height for overflow */
}

.component-loader {
  width:20px;
  height:20px;
  border-radius:50%;
  background:conic-gradient(#0000 20%,var(--text-color-primary));
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 5px),#000 0);
  animation:s3 1s infinite linear;
}
.component-move {
  padding: 7px;
  display: flex;
  background-color: var(--secondary-color);
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10px;
}
.move-counter {
  background-color: var(--secondary-disabled);
  padding: 5px;
  min-width: 20px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 10px;
}
.control-button {
  display: flex;
  background-color: var(--secondary-color);
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}
.control-button:hover {
  background-color: var(--tertiary-color);
}
.disabled {
  background-color: #00000096;
  background-blend-mode: multiply;
}